[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "modules/nanovg_compat"]
	path = modules/nanovg_compat
	url = https://github.com/Tremus/nanovg_compat
